.search-bar {
  width: 93%;
  margin: auto;
  margin-top: 30px;
}

.search-input {
  width: 80%;
  height: 30px;
  border: 2px solid #264c7e;
  background: #dcdcdc;
  border-right: none;
  border-radius: 25px 0% 0% 25px;
  text-indent: 13px;
  outline: none;
}

::placeholder{
  color: #264c7e;
  font-size: 12px;
}
.icon-container{
  display: inline-block;
  background: #264c7e;
  border: 3px solid #264c7e;
  border-right: none;
  border-radius: 0 25px 25px 0;
  vertical-align: middle;
  height: 30px;
  width: 50px;
  cursor: pointer;
}
.search-icon {
  height: 22px;
  width: 22px;
  margin-top: 5px;
  margin-left: 12px;
}
