/* Mobile style */
.Container{
  display: flex;
  /* display: none; */
}

.NavButton {
  display: none;
}

.NavButtonText{
  display: none;
}

.MenuButton {
  border: none;
  background: none;
  width: 100px;
  display: block;
}

.Icon {
  vertical-align: middle;
  height: 40px;
  width: 40px;
}

.Hide {
  display: none;
}

@media (min-width: 800px) {
  .NavButton {
    border: none;
    background: #f77134;
    color: white;
    width: 250px;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    height: 100%;
    align-items: center;
  }

  .NavButtonText{
    margin-left: 10px;
    vertical-align: middle;
    display: inline-block;
  }

  .NavButton:active {
    background: tomato;
  }

  .SearchButton {
    border-left: 2px solid #db5d37;
    border-right: 2px solid #db5d37;
  }

  .Icon {
    margin-left: 40px;
  }

  .Hide{
    display: flex;
  }
}
